body{
    background-color: darkturquoise;
}

.heading{
    font-size: 30px;
    color: cyan;
    background-color: coral;
    width: 100%;
    box-shadow: 5px 5px 5px coral;
    border: 5px dashed blue;
    border-radius: 20px;
}

.note{
    font-size: 13px;
    color: brown;
}

.copy_right_footer{
    position: fixed;
    bottom: 0;
    background-color: yellow;
    color: red;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

canvas{
    border: solid 5px red;
    border-radius: 30px;
    box-shadow: 7px 7px 7px purple;
}